<strong>
    Contenu du message depuis votre site SurfShop 40/64
</strong>
<br>
<p>
    {{ message }}
</p>
<br>
<strong>de la part de : </strong><p> {{ prenom }} {{ nom }} {{ mail }}</p>
<br>
            